body {
    margin: 0;
    font-family: "Georgia", serif;
    background: #f8f1ed;
    color: #4b101c;
}


.hero {
    min-height: 100vh;
    text-align: center;
    padding: 40px 20px;
    background:
    linear-gradient(
    rgba(90,10,30,0.92),
    rgba(60,5,20,0.95)
    );
    color: white;
}


.decorazione {
    font-size: 50px;
}


h1 {
    font-size: 3.8rem;
    line-height: 1.1;
    margin-bottom: 20px;
}

.data {
    color: #d9b56d;
    font-size: 25px;
}


.location {
    font-size: 20px;
}


.foto-placeholder {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin: 30px auto;
    border: 4px solid #d9b56d;
    display:flex;
    align-items:center;
    justify-content:center;
    background:#eee;
    color:#777;
}


.messaggio {
    max-width: 600px;
    margin: 30px auto;
    line-height: 1.7;
    font-size: 1.2rem;
}


button {
    margin-top:25px;
    padding:15px 35px;
    border:none;
    border-radius:30px;
    background:#d9b56d;
    color:#4b101c;
    font-size:18px;
    cursor:pointer;
}


.galleria {
    padding:40px 20px;
    text-align:center;
}


h2 {
    font-size:30px;
}


.foto-grid {
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:15px;
}


.box {
    height:150px;
    background:#ddd;
    display:flex;
    align-items:center;
    justify-content:center;
}
.foto-simona {
    width: 280px;
    max-width: 85%;
    border-radius: 25px;
    border: 6px solid #d4af37;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}
.foto-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
    padding: 10px;
}

.foto-grid img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 12px;
}

