body {
    margin: 0;
    font-family: "Georgia", serif;
    background: #f8f1ed;
    color: #4b101c;
}


.hero {
    min-height: 100vh;
    text-align: center;
    padding: 40px 20px;
    background:
    linear-gradient(
    rgba(90,10,30,0.92),
    rgba(60,5,20,0.95)
    );
    color: white;
}


.decorazione {
    font-size: 50px;
}


h1 {
    font-size: 42px;
    margin-top: 20px;
}


.data {
    color: #d9b56d;
    font-size: 25px;
}


.location {
    font-size: 20px;
}


.foto-placeholder {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin: 30px auto;
    border: 4px solid #d9b56d;
    display:flex;
    align-items:center;
    justify-content:center;
    background:#eee;
    color:#777;
}


.messaggio {
    line-height:1.7;
    font-size:18px;
}
